# ignore any compiled classes
*.class

# eclipse project files
.classpath
.project

# screenshots
screenshots/*

# logs
logs/*

# javadocs
doc/*

#binaries
bin/*

#wiki
wiki/*

#swap files
*.swp
